<div class="container-splash">
<div class="name-app">
<p>Budget App</p>
</div>

<div class="div-button">
  <div class="div-button-primary">
  <%= link_to "LOG IN", new_user_session_path, class:"splash-button white" %>
  </div>
  <div class="div-button-light">
  <%= link_to "SIGN UP", new_user_registration_path, class:"splash-button black"%>
 </div>
</div>
</div>